:root{
  --dark-1: #212121;
  --dark-2: #303030;
  --dark-3: #6C6867;
  --red-c: #BD0412;
  --white-c: #F7F7F7;
  --blue-green: #04BAB1;
  --green-c: #0A9A1F;
  --blue-c: #00A9ED;
  --yellow-c: #FFC800;
}

.hold-all-details{
  /* background-color: aqua; */
  width: 100%;
  padding: 0px 16px;
  margin-top: 8px;
  position: relative;
}

/* .hold-all-details-inside{
  background-color: #0A9A1F;
  width: 100%;
  height: 200px;
  margin: 8px;
} */



      .hold-image-ing{
        height: 20vh;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
      }

        .img-detail{
          overflow: hidden;
          /* background-color: blueviolet; */
          flex: 0.38524; /* to make prportion for the image same as route home */
          border-radius: 10px;
          display: flex;
          height: 100%;
          width: 100%;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          background-image: url('../../public/assets/img/foodImg/food-1.jpg');
          background-size: cover;
        }

          .img-detail img{
            width: 150%;
            height: 100%;
          }

        .ing-order{
          background-color: var(--white-c);
          flex: 0.591457;  /* to make space-between exactly 8px on iphone SE */
          overflow: auto;
          display: flex;
          flex-direction: column;
          align-content: center;
        }

          .title-ing{
            background-color: var(--dark-2);
            font-weight: bolder;
            flex: 0.2;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--white-c);
            flex-shrink: 0;
            line-height: 1.5rem;
          }

          .hold-list{
            /* background-color: #00A9ED; */
            overflow: auto;
            display: flex;
            flex-direction: column;
            background-color: transparent;
            margin-top: 2px;
          }

            .hold-list:last-child{
              margin-bottom: 2px;
            }

            .li-new{
              /* padding-top: 2px;
              padding-bottom: 2px; */
              display: flex;
              justify-content: center;
              position: relative;
              background-color: transparent;
              margin-top: 2px;
            }

              .li-new span{
                background-color: var(--dark-3);
              }

              .li-new:hover input ~ span{
                background-color: var(--dark-3);
              }

              .hold-checkbox span{
                flex: 0.9;
                height: 90%;
                border-radius: 2px;
                max-width: 20px;
              }

              span::after{
                content: "";
                position: relative;
                display: none;
              }

              /* .li-new input:checked ~ span {
                background-color: var(--dark-2);
              } */

                .li-new input:checked ~ span::after {
                  display: block;
                  content: "";
                  background-color: red;
                  height: 70%;
                  width: 70%;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%,-50%);
                  border-radius: 2px;
                }

              .off>.marked-li{
                display: block;
                background-color: black;
                position: absolute;
                width: 95%;
                height: 1px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
              }

              .off>.li-content{
                color: var(--dark-3);
              }

              .hold-checkbox{
                background-color: transparent;
                /* background-color: #0A9A1F; */
                flex: 0.1;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 4px;
              }

                .hold-checkbox input{
                  /* height: 90%;
                  width: 90%; */
                  position: absolute;
                  opacity: 0;
                  cursor: pointer;
                  height: 0;
                  width: 0;
                }
                  

          

              .li-content{
                /* background-color: #FFC800; */
                flex: 0.8;
                font-weight: bolder;
                font-size: 0.75rem;
                line-height: 1rem;
                display: flex;
                align-items: center;
                background-color: transparent;
              }

          
              
            

      .hold-order-config{
        padding-bottom: 108px;
      }

      .hold-all-category{
        background-color: var(--dark-3);
        margin-top: 8px;
      }

        .title-category{
          background-color: var(--dark-1);
          height: 25px;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--white-c);
          font-weight: bolder;
        }
        
        .content-category{
          background-color: var(--white-c);
          height: 40px;
          margin: 10px 0;
          display: flex ;
          border-radius: 0px 5px 5px 0px;
        }

          .c-span span:first-child {
            position: relative;
            flex: 1;
            /* background-color: #0A9A1F; */
            display: flex;
            overflow: scroll;
            align-items: center;
            padding-left: 4px;
            border-left: 2px solid var(--white-c);
            font-size: 0.75rem;
            font-weight: bolder;
            color: var(--dark-1);
            letter-spacing: 0.1rem;
            text-overflow: ellipsis;
            min-width: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;
          }

            

          .content-category .choose{
            flex: 0.15;
            /* background-color: blueviolet; */
            display: flex;
            padding-right: 0 4px;
            flex-direction: column;
            justify-content: center;
            align-content: flex-end;
            background-color: transparent;
          }

            .choose input{
              display: flex;
              flex: 0.8;
              accent-color: var(--red-c);
              background: transparent;
            }

      .content-category .hold-count{
        /* background-color: yellow; */
        flex: 0.3;
        display: flex;
        background-color: transparent;
      }

        .hold-count .hold-minus{
          /* background-color: tan; */
          flex: 0.4;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
        }

          .hold-minus img{
            background-color: transparent;
            height: 60%;
          }

            .hold-minus img:active{
              padding: 4px;
            }
          
        .hold-count>span{
          /* background-color: rgb(130, 85, 28); */
          flex: 0.2;
          font-size: 0.75rem;
          font-weight: bolder;
          display: flex;
          align-items: center;
          justify-content: center;
          color: var(--dark-1);
        }

        .hold-count .hold-plus{
          /* background-color: rgb(64, 37, 3); */
          flex: 0.4;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
        }

          .hold-plus img{
            background-color: transparent;
            height: 60%;
          }

            .hold-plus img:active{
              padding: 4px;
            }





  .hold-btn-abs{
    height: 16.190vh;
    position: fixed;
    z-index: 10;
    background-color: var(--dark-3);
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    left: 50%;
    max-width: 917px;
  }

    .hold-all-btn-details{
      /* background-color: green; */
      bottom: 0;
      height: 16.35vh;
      width: 91.5%;
      position: absolute;
      display: flex;
      flex-direction: column;
      padding-bottom: 9.84px;
      max-width: 839.6px;

    }

    /* .hold-all-btn-details-inside{
      background-color: wheat;
      height: 100%;
      width: 91.5%;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    } */











